@model Product
@{
    ViewData["Title"] = "GetProduct";
}

<div class="container">
    <div class="card">
    <div class="card-header">Get Product</div>
        <div class="card-body">
                <p>@Model.Id</p>
                <p>@Model.Name</p>
                <p>@Model.Rate</p>
            </div>
        </div>
    </div>
