
@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="card">
        <div class="card-header">About Product</div>
        <div class="card-body">
            <p>@Html.ActionLink("Display Product", "GetProduct", "Product")</p><hr />
            <p>@Html.ActionLink("Product List", "ProductList", "Product")</p><hr />
            <p>@Html.ActionLink("Find Product", "FindProduct", "Product")</p><hr />



        </div>
    </div>
</div>
